/* colors, text, animations */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-color: oklch(27.9% 0.041 260.031);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-bottom: 1em;
}

button {
  border: none;
  background-color: oklch(42.4% 0.199 265.638);
  border-radius: 1rem;
  padding: 1rem;
  transition: transform 0.3s, background-color 0.4s;
  font-size: 1.2em;
}

button:hover {
  transform: scale(1.1);
  background-color: oklch(28.2% 0.091 267.935);
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
  border: 1px solid oklch(13% 0.028 261.692);
  background-color: oklch(20.8% 0.042 265.755);
  border-radius: 1em;
  padding: 0.5em;
  transition: all 0.2s;
}

input:focus,
textarea:focus,
select:focus {
  transform: scale(1.05);
  border-color: oklch(37.2% 0.044 257.287);
}

/* layout */
header {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}
