/* colors, text, animations */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-color: oklch(27.9% 0.041 260.031);
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-bottom: 1em;
}

button {
  border: none;
  background-color: oklch(42.4% 0.199 265.638);
  border-radius: 1rem;
  padding: 1rem;
  transition: transform 0.3s, background-color 0.4s;
  font-size: 1.2em;
}

button:hover {
  transform: scale(1.1);
  background-color: oklch(28.2% 0.091 267.935);
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
  border: 1px solid oklch(13% 0.028 261.692);
  background-color: oklch(20.8% 0.042 265.755);
  border-radius: 1em;
  padding: 0.5em;
  transition: all 0.2s;
}

input:focus,
textarea:focus,
select:focus {
  transform: scale(1.01); /* very, very, very subtle */
  border-color: oklch(37.2% 0.044 257.287);
}

/* layout */
header {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(20.8% 0.042 265.755);
  gap: 1rem;
}

main {
  flex-grow: 1;
  display: flex;
}

.with-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  gap: 1rem;
  flex-grow: 1;
}

.full-cv {
  display: flex; /* finally got it working on this */
  padding: 1rem;
  height: 100%;
  flex-grow: 1;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  gap: 1em;
  padding: 1rem;
  background-color: oklch(20.8% 0.042 265.755);
}

footer p {
  margin: 0px;
}

footer a {
  /* makes it slightly more on-level with the CV App text */
  height: 32px;
}

svg {
  width: 32px;
  fill: white;
  transition: transform 0.3s;
}

svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.bold {
  font-weight: bold;
}

/* form */
section,
.main-responsibilities-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

.cv {
  background-color: white;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.cv * {
  color: black;
}

.cv h1,
.cv h2 {
  margin-bottom: 1rem;
}

textarea {
  min-height: 150px;
  padding: 0.75rem;
  resize: vertical;
}

textarea::placeholder,
input::placeholder {
  color: #888;
  font-style: italic;
}

textarea.auto-grow {
  overflow: hidden;
  min-height: 150px;
  max-height: 500px;
  height: auto;
}

@media (max-width: 600px) {
  .with-form {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  header {
    flex-direction: column;
  }
  button {
    width: 50%;
  }

  footer {
    flex-direction: column;
    gap: 0.5em;
  }
}
